@import "_variables";


.zone {
    margin: 0 auto;
    &__clock {
      background-color: $mainColor;
      border: 1px solid #006400;
      border-radius: 50%;
      box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #006400,
        0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
      height: 100px;
      margin: 0 auto;
      position: relative;
      width: 100px;
      @media screen and (min-width: 425px) {
        height: 150px;
        width: 150px;
      }
      @media screen and (min-width: 768px) {
        height: 200px;
        width: 200px;
      }
  
      &::after {
        content: " ";
        background-color: $additionalColor;
        border-radius: 50%;
        height: 10px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        z-index: 10;
      }
    }
    &__heading {
      margin: 0 0 39px 0;
      text-decoration: underline;
    }
    &__hour {
      background: $secondColor;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 30%;
      position: absolute;
      right: 50%;
      bottom: 50%;
      transform: translateX(50%);
      transform-origin: bottom;
      transition-timing-function: cubic-bezier(0.54, 1.79, 0.58, 1);
      width: 3px;
    }
    &__minute {
      background: $secondColor;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 35%;
      position: absolute;
      right: 50%;
      bottom: 50%;
      transform: translateX(50%);
      transform-origin: bottom;
      transition-timing-function: cubic-bezier(0.54, 1.79, 0.58, 1);
      width: 1px;
    }
    &__second {
      background: $additionalColor;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 40%;
      position: absolute;
      left: 50%;
      bottom: 50%;
      transform: translateX(50%);
      transform-origin: bottom;
      transition-timing-function: cubic-bezier(0.54, 1.79, 0.58, 1);
      width: 0.5px;
      z-index: 9;
    }
    &__sign {
      color: white;
      height: 100%;
      position: relative;
      width: 100%;
      &--1 {
        margin: 0;
        position: absolute;
        top: 5%;
        transform: translateX(-50%);
      }
      &--2 {
        margin: 0;
        position: absolute;
        top: 45%;
        right: 5%;
        transform: translateX(-50%);
      }
      &--3 {
        margin: 0;
        position: absolute;
        top: 85%;
        transform: translateX(-50%);
      }
      &--4 {
        margin: 0;
        position: absolute;
        top: 45%;
        right: 85%;
        transform: translateX(-50%);
      }
    }
  }