@import "~normalize.css";
@import "_variables";
@import "modules/clock.scss";
@import "modules/zone.scss";
@import "modules/main.scss";
@import "modules/world.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400;700&display=swap");

:root {
  --rotation: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@keyframes color {
  0% {
    background: #00674b;
  }
  20% {
    background: #4cbb17;
  }
  40% {
    background: #b8cc33;
  }
  60% {
    background: #87a96b;
  }
  80% {
    background: #4cbb17;
  }
  100% {
    background: #00674b;
  }
}

body {
  align-items: center;
  animation: color 9s infinite linear;
  background: #33cccc;
  display: flex;
  flex-shrink: 0;
  font-family: "Noto Nastaliq Urdu", serif;
  justify-content: center;
  min-width: 100vw;
  min-height: 100%;
  text-align: center;
}

.special {
  background: $mainColor;
  border-radius: 50%;
  height: 6px;
  margin: 16px 0px;
  position: absolute;
  transform: translateX(-50%);
  width: 6px;
  z-index: 8;
}

.local {
  &__heading {
    margin: 40px 0px;
  }
}
