@import "~normalize.css";

@import "_variables";

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  @keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
  }
  
  body {
    align-items:center;
    animation: color 9s infinite linear;
    background: #33CCCC;
    display:flex;
    justify-content:center;
    text-align: center;
    min-width:100vw;
    min-height:100vh;
    padding:16px;
  }

  .clock {
    background:none;
    border:13px solid white;
    border-radius:50%;
   height:400px;
   position:relative;
   width:400px;
   &__hour {
    background:red;
    height:35%;
    position:absolute;
    right:50%;
    top:50%;
    transform: rotate(180deg);
    transform-origin: top;
    transition-timing-function: cubic-bezier(0.54, 1.79, 0.58, 1);
    transition:all 0.05s;
    width:5px;
   }
   &__minute {
    background:green;
    height:40%;
    position:absolute;
    right:50%;
    top:50%;
    transform: rotate(180deg);
    transform-origin: top;
    transition-timing-function: cubic-bezier(0.54, 1.79, 0.58, 1);
    transition:all 0.05s;
    width:3px;
   }
   &__second {
    background:black;
    height:45%;
    position:absolute;
    right:50%;
    top:50%;
    transform: rotate(180deg);
    transform-origin: top;
    transition-timing-function: cubic-bezier(0.54, 1.79, 0.58, 1);
    transition:all 0.05s;
    width:1px;
   }
  }

